@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Care Management System</h1>
    <hr class="my-4">
  <p>The Care Management System is used to manage patients, carers and their connection with family members.</p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" asp-action="About" role="button">About Us</a>
  </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
